{% extends 'admin/base.html' %}
{% load avatar_tags admin_static %}

{% comment %}{% block userphoto %}
    <a href="#">
        {% if user and user.is_authenticated %}
            {% avatar user 65 class="circle" %}
        {% else %}
            <a href="#"><img class="circle" src="{% static 'material/imgs/user.png' %}"></a>
        {% endif %}
    </a>
{% endblock %}{% endcomment %}
{% block extrastyle %}
    <style>
        div.content > div.row {
            width: 100%;
        }
    </style>
{% endblock %}
